<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
    </head>
    <body>
        <div>
            <p>Bonjour ! C'est un great success, n'est-ce pas {{name}} ?</p>
        </div>
    </body>
</html>
