<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>NbVisite</title>
    </head>
    <body>
        <div>
            <p>Bonjour ! Vous avez visité cette page {{app.session.get('nbVisite')}} ?</p>
        </div>
    </body>
</html>
